.notice_container {
    margin: 0 auto;
    width: 988px;
    padding-bottom: 220px;
    padding-top: 5px;
}

.notice_container .notice_container_div {
    border: 1px solid #e3e3e3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.notice_container .notice_container_div .notice_title_container {
    text-align: center;
    -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
    padding-bottom: 15px;
}

.notice_container .notice_container_div .notice_title_container .notice_title_text {
    display: inline-block;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    -webkit-background-clip: text !important;
    color: transparent;
    font-size: 25px;
    font-weight: bold;
}

.notice_container .notice_page_title {
    font-size: 23px;
    color: #666666;
    text-align: center;
    padding-bottom: 40px;
}

.notice_container .notice_container_div .notice_menu_list {
    text-align: center;
}

.notice_container .notice_container_div .notice_menu_list li:nth-child(n+1) {
    margin-top: 20px;
}

.notice_container .notice_container_div .notice_menu_list .notice_menu_link {
    font-size: 15px;
    color: #666666;
}