<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/notice/notice.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/notice/notice.js}"></script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="notice_container">
    <div class="notice_container_div clear_fix">
        <div class="notice_title_container">
            <h3 class="blog-admin-title-style">공지사항 관리</h3>
        </div>

        <ul class="notice_menu_list">
            <li>
                <button class="notice_menu_link" id="notice_write_button">공지 사항 작성</button>
            </li>

            <li>
                <button class="notice_menu_link" id="notice_list_button" href="noticeListButton">공지사항 목록</button>
            </li>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>