<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>공지사항 수정</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/notice/notice-update.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/notice/notice-update.js}"></script>
</head>

<body>
<div class="notice_update_container">
    <form method="post" class="notice_update_form" id="notice_update_form" name="notice_update_form"
          enctype="multipart/form-data" th:object="${noticeInput}">
        <div class="notice_update_button_container clear_fix">
            <div class="notice_update_top_container clear_fix">
                <button type="submit" class="notice_update_register_button" id="notice_update_register_button">등록</button>
            </div>

            <div class="common_input_div input_block clear_fix">
                <label for="notice_title" class="common_input_label common_blog_name_label" title="공지사항 명">
                    <span class="blind">공지사항 이름</span>
                </label>
                <input type="text" id="notice_title" class="notice_name_input" th:value="${noticeUpdate.title}"
                       maxlength="128" placeholder="제목을 입력해주세요. (최대 128글자)" required>
            </div>

            <div class="basic_info_spel_div">
            <span id="notice_name_validation_error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                  class="validation_error"></span>
            </div>


            <div class="notice_update_block">
                <div class="editor-board">
                    <!-- Contents Here -->
                    <div id="notice_update_editor" class="notice_update_editor">
                        <!-- Contents Here -->
                    </div>
                    <button id="view-editor-source" type="button"
                            class="common_source_view_label view_editor_source_button" title="텍스트 코드 보기"></button>
                </div>
            </div>

            <div class="basic_info_spel_div">
            <span th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}" id="notice_update_validation_error"
                  class="notice_update_validation_err validation_error"></span>
            </div>

            <input type="hidden" id="upload_key" readonly th:value="${noticeUpdate.uploadKey}">
            <input type="hidden" id="hidden_notice_title" name="title" th:field="*{title}">
            <input type="hidden" id="hidden_notice_content" name="contents" th:field="*{contents}">
            <input type="hidden" id="hidden_notice_summary" name="summary" th:field="*{summary}">
            <input type="hidden" id="hidden_upload_key" name="uploadKey" th:field="*{uploadKey}">
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>

    <script th:inline="javascript">
        const noticeContents = [[${noticeUpdate.contents}]];
        document.getElementById("hidden_notice_content").value = noticeContents;
    </script>
</div>
</body>
</html>