<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가입완료</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/user/signup/signup-complete.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/user/signup/signup-complete.js}"></script>
</head>

<body>
<div class="complete_container">
    <h1 class="signup_complete_notice_text">회원 가입이 완료되었습니다.</h1>

    <th:block th:if="${error != null} and ${#strings.isEmpty(error)} eq false">
        <p class="signup_complete_text" th:text="${error}"></p>
    </th:block>

    <div class="menu_container clear_fix">
        <a class="common_home_link" href="/">홈으로 가기 </a>
        <a href="/user/login" class="login_button login_link" id="login_button" sec:authorize="!isAuthenticated()">
            로그인
            <span class="blind">로그인</span>
        </a>
    </div>
</div>
</body>
</html>