.music_add_title {
    text-align: center;
    margin-top: 15px;
}

.music_add_container {
    padding: 20px 20px 30px 20px;
    margin-top: 30px;
    border: 1px solid #eeeeee;
}

.music_add_container .music_file_input {
    margin-left: 10px;
    width: 350px;
    height: 30px;
}