.music_category_delete_title {
    text-align: center;
    margin-top: 15px;
}

.music_category_delete_container {
    padding: 20px 20px 30px 20px;
    margin-top: 30px;
    border: 1px solid #eeeeee;
}

.music_category_delete_container .music_category_select {
    margin-left: 10px;
}

.music_category_delete_container .update_category_input {
    margin-left: 10px;
}