<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>설정 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/settings.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="settings_container common_form_container">
    <h1 class="settings_title common_form_title">내 정보</h1>

    <div class="common_form settings_form">
        <div class="user_profile_container clear_fix">
            <div class="user_profile_image_form" action="register/image" method="POST" enctype="multipart/form-data">
                <img class="default_user_profile_image" id="default_user_profile_image"
                     src='/images/user_default_thumbnail.png'/>
                <span class="blind">프로필</span>
            </div>

            <div class="user_profile_intro_container">
                <div class="user_info_block">
                    <span class="common_plain_text">아이디:</span>
                    <span class="common_dark_cyan_text" th:text="${user_setting.userId}"
                          th:title="${user_setting.userId}">아이디</span>
                </div>

                <div class="user_info_block">
                    <span class="common_plain_text">닉네임: </span>
                    <span class="common_dark_cyan_text" th:text="${user_setting.nickname}"
                          th:title="${user_setting.nickname}">닉네임</span>
                </div>
            </div>

            <button class="setting_edit_button_style common_edit_label edit_button" id="user_basic_info_edit_button"
                    title="수정하기">
                <span class="blind">편집하기</span>
            </button>

            <input type="hidden" id="user_basic_info_id" readonly th:value="${user_setting.userId}">
            <input type="hidden" id="user_basic_info_email" readonly th:value="${user_setting.email}">
            <input type="hidden" id="user_basic_info_nickname" readonly th:value="${user_setting.nickname}">
        </div>

        <div class="user_official_info_container">
            <div class="user_info_block text_skip_block clear_fix">
                <div class="clear_fix_block">
                    <span class="common_plain_text">이메일:</span>
                    <span class="common_gray_text" th:text="${user_setting.email}"
                          th:title="${user_setting.email}">이메일</span>
                </div>
            </div>


            <div class="user_info_block text_skip_block">
                <span class="common_plain_text">가입일</span>
                <span class="common_gray_text" id="signUpDateInput">1970-00-00 00:00</span>
            </div>
        </div>

        <div class="user_profile_admin_container">
            <div class="user_info_block text_skip_block clear_fix">
                <button id="password_change_button" class="password_change_button">
                    비밀번호 변경
                </button>

                <span class="last_change_text">
                        마지막 변경일 (<span class="common_plain_text" id="lastModifiedInput">1970-00-00 00:00</span>)
                    </span>
            </div>

            <div class="user_info_block clear_fix">
                <button class="with_draw_button" id="with_draw_button">
                    회원 탈퇴
                </button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const utilController = new UtilController();
        const registerTime = [[${user_setting.registerTime}]]; // 가입일
        const lastModifiedTime = [[${user_setting.updatedTime}]]; // 마지막 변경 시간
        const isBaseTimezone = [[${user_setting.isBaseTimezone}]]; // 베이스 타임존 여부
        document.getElementById("signUpDateInput").innerText = (!registerTime || registerTime === '') ? '없음' : utilController.convertTimeByBrowserTimezone(registerTime, 'YYYY-MM-DD HH:mm:ss', isBaseTimezone);
        document.getElementById("lastModifiedInput").innerText = (!lastModifiedTime || lastModifiedTime === '') ? '없음' : utilController.convertTimeByBrowserTimezone(lastModifiedTime, 'YYYY-MM-DD HH:mm:ss', isBaseTimezone);
    </script>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>