<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="notice-template">
    <!-- handlebars templates -->

    <!-- 공지사항 목록 템플릿 -->
    <script id="notice-list-template" type="text/x-handlebars-template">
        {{#each noticeList}}
        <li class="notice_board clear_fix">
            <a class="notice_link" href="/notice/detail/{{noticeId}}">
                <span class="notice_board_text_style notice_board_title" id="notice_board_title">
                        {{title}}
                    </span>

                <span class="notice_board_text_style notice_board_date" id="notice_board_date">
                    {{registerTime}}
                </span>
            </a>
        </li>
        {{/each}}
    </script>
</th:block>
</html>