<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음악관리 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/music-admin-template :: music-admin-template"></th:block>
    <link th:href="@{/css/music/music-admin.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/music/music-admin.js}"></script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="music_container">
    <div class="music_container_div clear_fix">
        <div class="music_title_container">
            <h3 class="common-admin-title-style">음악 관리</h3>
        </div>

        <div class="music_player_container">
            <div class="audioPlayerBlock">
                <div class="music_category_select_container">
                    <select id="musicCategoryList">
                        <option th:each="musicCategory : ${music_category_list}" th:value="${musicCategory.id}"
                                th:text="${musicCategory.name}">
                        </option>
                    </select>
                </div>

                <div class="music_setting_container">
                    <div class="music_update_container">
                        <button class="music_setting_button common_red_button" id="musicS3SearchButton">
                            뮤직 조회 (S3)
                        </button>

                        <button class="music_setting_button common_green_button"
                                id="musicS3AddButton">
                            뮤직 추가 (S3)
                        </button>

                        <button class="music_setting_button common_blue_button" id="musicAddButton">
                            뮤직 추가
                        </button>

                        <button class="music_setting_button common_orange_button" id="musicUpdateButton">
                            뮤직 수정
                        </button>

                        <button class="music_setting_button common_red_button" id="musicDeleteButton">
                            뮤직 삭제
                        </button>
                    </div>

                    <div class="music_category_update_container">
                        <button class="music_setting_button common_blue_button" id="musicCategoryAddButton">
                            카테고리 추가
                        </button>

                        <button class="music_setting_button common_orange_button" id="musicCategoryUpdateButton">
                            카테고리 수정
                        </button>

                        <button class="music_setting_button common_red_button" id="musicCategoryDeleteButton">
                            카테고리 삭제
                        </button>
                    </div>
                </div>
                <div class="audio_player_style" id="audio_player"></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="musicCategoryIdHiddenInput" name="categoryId">
    <input type="hidden" id="musicCategoryNameHiddenInput">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <script th:inline="javascript">
        <!-- TODO -->
    </script>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>