<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <title>뮤직 카테고리 수정 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/music/music-category-update.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/music/music-category-update.js}"></script>
</head>

<body>
<h3 class="music_category_update_title common_dark_green_text">
    뮤직 카테고리 정보 수정
</h3>

<div class="music_category_update_container common_form_container">
    <form method="post" id="musicCategoryUpdateForm" action="/music-category/update"
          th:object="${musicCategoryUpdateInput}">
        <div class="common_input_div input_block clear_fix">
            <label for="musicCategoryList" class="common_input_label common_category_label" title="제목">
                <span class="blind">카테고리</span>
            </label>

            <select class="music_category_select" id="musicCategoryList">
                <option th:each="musicCategory : ${music_category_list}" th:value="${musicCategory.id}"
                        th:text="${musicCategory.name}">
                </option>
            </select>
        </div>

        <div class="common_input_div input_block clear_fix">
            <label for="updateCategoryName" class="common_input_label common_category_label" title="제목">
                <span class="blind">수정 항목</span>
            </label>

            <input type="text" maxlength="50" id="updateCategoryName"
                   class="update_category_input" placeholder="수정할 카테고리명을 50자
               이내로 입력해주세요.">
        </div>

        <div class="basic_info_spel_div">
            <span id="user_post_name_validation_error" th:if="${#fields.hasErrors('updateName')}"
                  th:errors="*{updateName}"
                  class="validation_error"></span>
        </div>

        <button type="button" class="common_submit_button" id="musicCategoryUpdateButton">
            수정
        </button>
        <input type="hidden" id="music_category_hidden_select_id" name="updateId">
        <input type="hidden" id="music_category_hidden_select_name" name="updateName">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" name="_method" value="PATCH"/>
    </form>
</div>
</body>
</html>