<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>음악관리 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <th:block th:replace="fragments/template/music-admin-template :: music-admin-template"></th:block>
    <link th:href="@{/css/music/music-admin.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/music/music-admin.js}"></script>
</head>

<body>
<div th:replace="fragments/header::header"></div>
<div class="music_container">
    <div class="music_container_div clear_fix">
        <div class="music_title_container">
            <h3 class="common-admin-title-style">음악 관리</h3>
        </div>

        <div class="music_player_container">
            <div class="audioPlayerBlock">
                <div class="music_category_select_container">
                    <select>
                        <option value="1">Americano</option>
                        <option value="2">Latte</option>
                        <option value="3">Green Tea</option>
                    </select>
                </div>

                <div class="music_setting_container">
                    <button class="music_setting_button common_blue_button">
                        추가
                    </button>

                    <button class="music_setting_button common_orange_button">
                        수정
                    </button>

                    <button class="music_setting_button common_red_button">
                        삭제
                    </button>
                </div>

                <div class="audio_player_style" id="audio_player"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>