<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>뮤직 S3 추가 페이지</title>
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/music/music-add-s3.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/music/music-add-s3.js}"></script>
</head>

<body>
<h3 class="music_add_title common_dark_green_text">
    S3 입력 뮤직 관련 파일 정보 입력
</h3>

<div class="music_add_container common_form_container">
    <form method="post" class="music_add_form" id="musicS3AddForm" action="/music/add/s3" enctype="multipart/form-data">
        <div class="common_input_div input_block clear_fix">
            <label for="musicFile" class="common_input_label common_password_write_label" title="음악명">
                <span class="blind">음악 파일 </span>
            </label>

            <input type="file" class="music_file_input" id="musicFile" name="musicFile">
        </div>

        <div class="common_input_div input_block clear_fix">
            <label for="musicImage" class="common_input_label common_password_write_label" title="음악명">
                <span class="blind">음악 파일 </span>
            </label>

            <input type="file" class="music_file_input" id="musicImage" name="musicImage">
        </div>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>

    <button type="button" class="common_submit_button" id="musicS3AddButton">
        등록
    </button>
</div>
<script th:inline="javascript">
    <!-- TODO -->
</script>
</body>
</html>