<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>기본 정보 변경</title>
    <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">
    <th:block th:replace="fragments/config :: config"></th:block>
    <link th:href="@{/css/user/update/basic-info.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/user/update/basic-info.js}"></script>
</head>

<body>
<form method="post" class="basic_info_edit_container" id="user_basic_info_form" name="userBasicInfoInput"
      enctype="multipart/form-data"
      th:object="${userBasicInfoInput}">
    <h1 class="form_title common_gray_text">기본 정보 수정</h1>

    <div class="common_input_div clear_fix interval_block">
        <label for="user_nickname" class="common_input_label common_nickname_label" title="닉네임">
            <span class="blind">닉네임</span>
        </label>

        <input type="text" id="user_nickname" name="nickname" class="nickname_input" th:field="*{nickname}"
               maxlength="20" placeholder="닉네임을 입력해주세요 (최대 20글자)" required>
    </div>

    <div class="basic_info_spel_div">
            <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" id="user_nickname_validation_error"
                  class="validation_error"></span>
    </div>

    <button type="submit" class="basic_info_edit_button">수정하기</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="hidden" name="_method" value="PATCH"/>
</form>
</body>
</html>